/* 1.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg1.webp');
    background-size: cover;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #f8f1f1;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .container-small {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #348484;
    padding-top: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  .job-card {
    background-color: #130b0b;
    padding: 1rem;
    border-left: 5px solid #f1f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(243, 238, 238, 0.1);
  }
  
  .job-title {
    color:wheat;
    margin-bottom: 0.5rem;
  }
  
  form {
    background-color: #f0c7c7;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd6d6;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form input[type="file"] {
    padding: 0.5rem 0;
  }
  
  form textarea {
   resize: vertical;
    height: 120px;
  }
  
  button[type="submit"] {
    background-color: #ff82ff;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#c94f7c;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 1rem;
    }
  
    form input,
    form textarea {
      font-size: 1rem;
    }
  }

  label{
    color: #080606;
  }
  


   input::placeholder{
    color: black;
    font-size: 1rem;
  }

  h1{
    font-size: 2rem;
  }


  textarea::placeholder{
    color: #080606;
  }